@model SAV.Models.GETAWEY

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>GETAWEY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_ABORDAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_ABORDAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_ABORDAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_ABORDAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_DESABORDAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_DESABORDAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_DESABORDAJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_DESABORDAJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_GETAWEY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_GETAWEY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AEROPUERTO.NOM_AEROPUERTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AEROPUERTO.NOM_AEROPUERTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVION.COD_MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVION.COD_MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINEA_AEREA.COD_AEROPUERTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINEA_AEREA.COD_AEROPUERTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_GETEWAY }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>
