@model SAV.Models.CLIENTE_NATURAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE_NATURAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NUM_DOCUMETO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_DOCUMETO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO_CIVIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO_CIVIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_MILLAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_MILLAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUM_VIAJERO_FREC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUM_VIAJERO_FREC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.PRIMER_NOM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.PRIMER_NOM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENERO.NOM_GENERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENERO.NOM_GENERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPO_DOCUMENTO.NOM_DOCUMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_DOCUMENTO.NOM_DOCUMENTO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_NATURAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
